@import url(http://fonts.googleapis.com/css?family=Kaushan+Script);

@main: fade(#19BC9C, 95%); //rgba(25, 188, 156, 0.95)
@white: #fff;
@black: #000;
@dark: #2C3433;
@border: #ddd;

@header: 64px;

.uppercase{ text-transform: uppercase !important; }
.center{ text-align: center !important; }
.pull-right{ float: right !important; }
.font{ font-family: 'Kaushan Script', cursive; }

h2, h3, h4, h5, h6, a, .color{ color: @main !important; }
h2{ margin-top: 1rem; }

a{
	transition: color 0.3s;

	&:hover{
		text-decoration: none !important;
		cursor: pointer;
		color: fade(@main, 50%) !important;
	}
}

pre{
	border: none !important;
	border-radius: 0 !important;
}

.header-block{
	position: relative;
	margin: 3rem 0 !important;

	&:before{
		position: absolute;
		content: '';
		bottom: -16px; left: 50%;
		width: 32px; height: 2px;
		transform: translateX(-50%);
		background-color: @main;
	}
}

body{ padding-top: 16px; }

div.overlay{
	position: fixed;
	display: none;
	top: 0; right: 0; bottom: 0; left: 0;
	background-color: fade(@dark, 10%);
	z-index: 9;
}

div.scroll-catcher{
	position: fixed;
	width: 100%; height: 1px;
	top: 25%; left: 0; right: 0;
	opacity: 0;
	transform: translateY(-25%);
}

/* PAGE HEADER */
header{
	position: fixed;
	height: @header;
	top: 0; right: 0; left: 0;
	padding: 0 12.5%;
	background-color: fade(@white, 90%);
	z-index: 10;

	a.logo{
		float: left;
		height: @header;
		line-height: @header;
		margin: 0; padding: 0;
		color: @dark !important;
		font-size: 2rem;
		cursor: pointer;
	}

	div.right-menu{
		a{
			height: @header;
			line-height: @header;
			margin: 0 12px;
			color: @dark !important;
			font-weight: 600;
			transition: color 0.3s;
			font-size: 32px;

			&.menu-link{
				font-size: 14px;
				float: left;

				&.is-active{ color: @main !important; }
			}

			&:hover{ color: fade(@dark, 50%) !important; }
		}
	}

	div.mobile-menu-trigger{
		display: none;
		position: absolute;
		top: 50%; left: 16px;
		font-size: 24px;
		color: @dark;
		cursor: pointer;
		transform: translateY(-50%);
	}

	@media all and (max-width: 768px){
		background-color: @white;

		a.logo{
			width: 100%;
			text-align: center;
		}

		div.right-menu{
			position: fixed;
			width: 66.6666%;
			left: 0; top: @header; bottom: 0;
			background-color: @white;
			z-index: 10;
			transform: translateX(-100%);
			transition: transform 0.4s;

			a{
				float: left;
				display: block;
				width: 100%; height: @header / 2;
				line-height: @header / 2;
				margin: 8px 0;
				text-align: center;
				font-size: 16px;
				text-transform: uppercase;

				&.gh-link-first, &.gh-link-last{
					width: 50%;
					display: inline-block;
					margin-top: 12px; padding: 0 24px;
					font-size: 32px;

					&.gh-link-first{ text-align: right; }
					&.gh-link-last{ text-align: left; }
				}
			}

			&.is-active{ transform: translateX(0); }
		}
		div.mobile-menu-trigger{ display: block; }
	}

	@media all and (max-width: 480px){
		padding: 0 64px;

		div.right-menu{ width: 100%; }
	}
}

.demo-title:before{
	content: '\f105';
	margin: 0 8px;
	vertical-align: baseline;
	font-family: 'fontAwesome';
	font-size: 18px;
	font-weight: 600;
	color: @main;
}

.demo{ margin-bottom: 8px; }

input.inputTags-field{
	width: 8rem;
	display: inline-block;
}