.uppercase{ text-transform: uppercase !important; }
.center{ text-align: center !important; }
h1, h2, h3, h4, h5, h6, a{ color: #19BC9C !important; }
h2{ margin-top: 1rem; }

input.inputTags-field{
	width: 8rem;
	display: inline-block;
}